on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
name: Plugin Unit Tests
jobs:
  ios:
    name: iOS Unit Tests
    runs-on: macos-latest
    strategy:
      matrix:
        destination:
          - "platform=iOS Simulator,OS=15.2,name=iPhone 8"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Install NPM Dependencies
        run: npm ci
      - name: Build NPM Module
        run: npm run build
      - name: Install Cocoapods
        run: cd ios && pod install
      - name: Run iOS Tests
        run: cd ios && xcodebuild clean test -workspace Plugin.xcworkspace -scheme Plugin -destination "${destination}"
        env:
          destination: ${{ matrix.destination }}

  android:
    name: Android Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
      - name: Install NPM Dependencies
        run: npm ci
      - name: Build NPM Module
        run: npm run build
      - name: Run Android Tests
        run: cd ./android && ./gradlew test --stacktrace
