on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
name: Plugin Unit Tests
jobs:
  ios:
    name: iOS Unit Tests
    runs-on: macos-15
    strategy:
      matrix:
        destination:
          - "platform=iOS Simulator,OS=26.1,name=iPhone 17"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install NPM Dependencies
        run: npm ci
      - name: Build NPM Module
        run: npm run build
      - name: Install Cocoapods
        run: cd ios && pod install
      - name: Run iOS Tests
        run: cd ios && xcodebuild clean test -workspace Plugin.xcworkspace -scheme Plugin -destination "${destination}"
        env:
          destination: ${{ matrix.destination }}

  android:
    name: Android Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "21"
      - name: Install NPM Dependencies
        run: npm ci
      - name: Build NPM Module
        run: npm run build
      - name: Run Android Tests
        run: cd ./android && ./gradlew test --stacktrace
